<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
<connectionStrings>
    <add name="strconn" connectionString="Server=ddabbe94-3db7-40a7-86a2-a42a0043eed4.sqlserver.sequelizer.com;Database=dbddabbe943db740a786a2a42a0043eed4;User ID=tdgzrfjmgmsfwsvo;Password=LmvDqUAbYgRv8GdcXQgRvk8qEvTMzYbdDzyVWV78PnfHDbDPyQvkMgmAnf83aWJa;"/>
  </connectionStrings>
    <system.web>
        <customErrors mode="Off"></customErrors>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
